*{
    margin: 0;
    padding: 0;
}
.footer {
    position: absolute;
    width: 1349px;
    margin: 0 auto;
    /*min-width: 1349px;*/
    background-color: rgba(0,0,0,0.08);
    margin-top: 0px;

}
.footerTC {
    width: 1140px;
    height: 170px;
    margin: 0 auto;
}
.footerTC_1 {
    margin-top:0px;
    width: 345px;
    height: 160px;
    float: left;
    margin-left: 60px;
}
.footerTC_1 .bLogo img{
    width: 55px;
    height: 55px;
}
.footerTC_1 .cent {
    margin-top: 5px;
    font-size: 12px;
    color:#EC7CA2;
}
.footerTC_1 .share {
    margin-top: 15px;
}
.footerTC_1 .weixin {
    float: left;
    width: 25px;
    height: 24px;
    position: relative;
    cursor: pointer;
}
.scan {
    display: none;
    width: 170px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: -10px;
}
.scan .dy {
    width: 75px;
    height: 100px;
    float: left;
}
.scan .fw {
    width: 75px;
    height: 100px;
    float: right;
}
.footerTC_1 .weibo {
    display: none;
    float: left;
    width: 25px;
    height: 24px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}
.footerTC_2 {
    margin-top:-5px;
    width: 212px;
    height: 147px;
    float: left;
    margin-left: -20px;
}
.footerTC_2 dl {
    height: 35px;
    color:#EC7CA2;
    font-size: 16px;
    line-height: 35px;
    height: 30px;
}
.footerTC_2 dl dd img {
    height: 2px;
    width: 40px;
    margin-left: 0px;
    margin-bottom: 50px;
}
.footerTC_2 ul {
    margin-top: 18px;
    margin-left: 0px;
    font-size: 12px;
    color: #EC7CA2;

}
.footerTC_2 ul li {
    list-style: none;
    line-height: 26px;
}
.footerTC_2 ul li a {
    display: inline-block;
    color:#EC7CA2;
    text-decoration: none;
}
.footerTC_3 {
    margin-top: -5px;
    width: 305px;
    height: 135px;
    float: left;
    margin-left: 30px;
}
.footerTC_3 dl {
    height: 35px;
    color: #EC7CA2;
    font-size: 16px;
    line-height: 35px;
    height: 40px;
}
.footerTC_3 dl dt a {
    display: inline-block;
    color: #EC7CA2;
}
.footerTC_3 dl dd img {
    height: 2px;
    width: 30px;
    /*margin-left: -40px;*/
    /*margin-top: 5px;*/
    margin-left: 0px;
    margin-bottom: 50px;
}
.footerTC_3 ul {
    margin-top: 18px;
    margin-left: 0px;
    color: #EC7CA2;
    font-size: 12px;
}
.footerTC_3 ul li {
    font-size: 12px;
    list-style: none;
    overflow: hidden;
    margin-top: 7px;
    line-height: 12px;

}
.footerTC_3 ul img {
    float: left;
    display: inline-block;
    width: 15px;
    height: 15px;

}
.footerTC_3 ul li p {
    display: inline-block;
    margin-top: 0px;
    margin-left: 5px;
    float: left;
}
.footerTC_3 ul .lo {
    padding-left: 23px;
}
.footerTC_3 ul .tel {
    margin-top: 15px;
    line-height: 20px;
}
.footerTC_4 {
    margin-top: 2px;
    width: 200px;
    height: 135px;
    float: left;
    /*margin-top: -15px;*/
    /*width: 140px;*/
    /*height: 150px;*/
    /*float: left;*/
}
.footerTC_4 .kehu {
    /*height: 35px;*/
    color: #EC7CA2;
    font-size: 16px;
    /*line-height: 35px;*/
    /*height: 40px;*/
}
.footerTC_4 .kehu dd img {
    height: 2px;
    width: 30px;
    margin-left: 0px;
    margin-top: 5px;
}
.footerTC_4 ul {
    margin-top: 18px;
    margin-left: 0px;
    color: #EC7CA2;
    list-style-type: none;
    font-size: 12px;
    overflow: hidden;
}
.img_phone {
    width: 50px;
    height: 50px;
    margin-top: 0px;
    float: left;
}
.img_antrion{
    width: 50px;
    height: 50px;
    margin-top:0px;
    margin-left: 20px;
    float: left;
}
.img_phone:hover{
    background: url("image1/ipone2.png");
    background-size: 50px 50px;
}
.img_antrion:hover{
    background: url("image1/android2.png");
    background-size: 50px 50px;
}
.footerTC_4 div{
    overflow: hidden;
    /*width: 145px;*/
    margin-top: 0px;
    text-align: center;
}
.footerB p{
    width:1349px;
    height: 40px;
    background: rgba(0,0,0,0.2);
    color: #EC7CA2;
    font-size: 12px;
    line-height:40px;
    text-align: center;
    /*border: 1px solid red;*/
}
.footerB{
    position:absolute;
    margin-top: 0px;
}
.footerTC_4 span{
    color:#EC7CA2;
    font-size: 12px;
    margin-left: 5px;
}